# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual env
.venv/
venv/

# Environment files
.env
*.env

# OS / editor junk
.DS_Store
Thumbs.db
.idea/
.vscode/

raw_data/

scripts/build_otc_db_from_openfda.py
scripts/make_en_db_from_zh.py